body {
    text-align: center;
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

canvas {
    margin-top: 10px;
}

#score {
    font-size: 20px;
    margin: 10px 0;
}

.remarque{
    font-size:12px;
    color:rgb(214, 205, 205)

}